/* DEFAULT STYLES */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

p, li, a {
    font-size: 16px;
    letter-spacing: 0.1em;
}

body {
    background: linear-gradient(red, yellow);
}

#main {
    width: 95%;
    margin: auto;
    border-radius: 1em;
    background-color: antiquewhite;
    padding: 0.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* UPPER SECTION */
#title {
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

#title h1 {
    margin-bottom: 0.5rem;
}

#img-div {
    width: 99%;
    height: 20%;
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
}

#img-caption {
    width: 97%;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.caption {
    font-style: italic;
    font-size: 12px;
}

/* Tribute information */
#tribute-info {
    width: 95%;
    margin: auto;
    padding: 1rem;
}

#tribute-info li::before {
    content: "\a";
    white-space: pre;
}